@model Dashboard.Models.User

@{
    ViewData["Title"] = "Panel";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel</title>
</head>
<body>
    <h3>Welcome @Html.DisplayFor(model => model.Username)!</h3>
</body>
</html>
