.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.item {
    margin: 10px;
    text-align: center;
    
}

.lbl {
    color: white;
    margin-left: 5%;
    font-family: Arial;
    font-size: 20px;
}

.txtbox {
    height: 30px;
    width: 90%;
    font-size: 25px;
    border-radius: 5px;
}

.submit {
    width: 30%;
    border-radius: 5px;
}

.submitcontainer {
    text-align: right;
}

#createbtn {
    width: 50%;
    float: left;
    top: 0px;
    border-radius: 15px 0px 0px 0px;
}

#loginbtn {
    width: 50%;
    float: right;
    top: 0px;
    border-radius: 0px 15px 0px 0px;
}

.button {
    background-color: #e0e0e0;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    color: #828282;
}

.green:hover {
    background-color: white;
    color: black;
}

.green {
        background-color: #4CAF50;
        color: white;
}

.blue:hover {
    background-color: white;
    color: black;
}

.blue {
        background-color: #008CBA;
        color: white;
}

.container {
    border-radius: 15px;
    padding: 0px;
    background-color: #212121;
    box-shadow: 7px 7px 5px 5px #aaaaaa;
    width: 30vw;
}

.active {
    background: #be0000;
    color: white;
}

.inpt {
    padding: 50px 10px 10px 10px;
}

.validate {
    display: inline-block;
}

@media (max-width:1000px) {
    .container {
        width: 90vw;
    }
}

@media (min-width:2000px) {
    .container {
        width: 40vw;
    }

    .lbl {
        font-size: 2vh;
    }

    .txtbox {
        height: 3vh;
        font-size: 2vh;
    }

    .button {
        height: 5vh;
    }
}